<html>

<body style="margin: 25px 30px 0px 30px;">
    <div style="max-width:600px; width: 100%;padding: 25px 30px;">
        <div style="display: inline-block; margin-right: 43px;">
            <div style="margin-bottom: 15px;">
                <div style="color:#BF8F55; font-weight: 600; font-size: 40px;">Corvinus hírek</div>
                <div style="color:#1B213E;  font-weight: 600; font-size: 20px;">munkatársainknak</div>
            </div>
            <div>
                <button style="background-color:#BF8F55; color:white;padding: 10px 15px; border: none;">
                    Tartalomigények
                    beküldése
                </button>
            </div>
        </div>
        <div style="display: inline-block"><img src="{{LogoSrc}}" alt="" style="width: 150px;"></div>
    </div>
    {{#if HasAllStaffContent}}
    <div style="background-color: #1B213E; max-width:600px; width: 100%;padding: 25px 30px;">
        <div style="margin-bottom: 25px; color:white;font-weight: 600; font-size: 35px;">Kiemelt hírek</div>
        {{#each AllStaffContent}}
            <table style="margin-bottom: 15px; background: white; width: 100%; border-collapse: collapse;" cellspacing="0" border="0" >
                <tr>
                <td style="max-width: 170px; width:100%; min-width: 170px;background: white; display: inline-block">
                <div style="padding: 15px 0px 15px 15px">
                    <img src="{{Cover}}" alt=""
                        style="max-width: 170px; height: 90px; width:100%;">
                </div>
                </td>
                <td style="width: 100%" >
                <div style="background-color: white; padding: 15px">
                    <div style="font-size: 15px; font-weight:600;color:#BF8F55; margin-bottom: 15px;">
                        {{Title}}
                    </div>
                    <div style="font-size: 14px; font-weight:500;color:#3D454C; word-break: break-all;">
                        {{Lead}}
                    </div>
                </div>
                </td>
                </tr>
            </table>
        {{/each}}
    </div>
    {{/if}}
    {{#each Topics}}
    <div style=" max-width:600px; width: 100%;padding: 25px 30px 0px;">
        <div style=" border-bottom: #BF8F55 solid 2px; padding-bottom: 25px;">
            <div style="margin-bottom: 25px; color:#BF8F55;font-weight: 600; font-size: 35px;">{{Title}}</div>
            {{#each Items}}
            
            {{#if isNews }}
            <div style="margin-bottom: 15px;">
                <div style="margin-bottom: 10px; font-size: 18px; font-weight:bold;color:#1B213E;">{{Title}}
                </div>
                <div style=" font-size: 14px; font-weight:500;color:#1B213E;">{{Lead}}</div>
            </div>
           
            {{#if isEvent}}
            <table style="margin-bottom: 15px; background: #E5E5E5; width: 100%; border-collapse: collapse;" cellspacing="0" border="0">

            <tr style="color:#1B213E; margin-bottom: 15px; background:#E5E5E5;">
               <td style="border-right: #BF8F55 solid 2px; padding: 10px; text-align: center">
                    <div style="font-weight:bold">{{Month}}</div>
                    <div style="color:#BF8F55; font-size: 18px;font-weight:bold">{{Day2Digit}}</div>                    
                </td>
                <td>
                    <div style="padding: 10px;">
                        <div style=" margin-bottom: 10px; font-weight:bold">{{Title}}</div>
                        <div style=" font-size: 14px; font-weight:500;">{{Lead}}</div>
                    </div>
                </td>
            </tr>
            </table>
            {{/if}}
            {{/if}}
            {{#unless MoreThanLimit}}
            {{#if isNews }}
            <table style="margin-bottom: 15px; background: #E5E5E5; width: 100%; border-collapse: collapse;" cellspacing="0" border="0" >
                <tr>
                   <td style="max-width: 170px;  min-width: 170px;width:100%;background: #E5E5E5; display: inline-block">
                        <div style="padding: 15px 0px 15px 15px;">
                            <img src="{{Cover}}" alt="" style="max-width: 170px; width:100%; height: 90px;">
                        </div>
                    </td>  
                    <td style="width: 100%">
                        <div style="background-color:  #E5E5E5; padding: 15px">                        
                            <div style="font-size: 15px; font-weight:600;color:#1B213E; margin-bottom: 15px;">
                                {{Title}}
                            </div>
                            <div style="font-size: 14px; font-weight:500;color:#3D454C;">
                                {{Lead}}
                            </div>
                        </div>
                    </td>
                </tr>    
            </table>        
            {{/if}}
            {{#if isEvent}}
             <table style="margin-bottom: 15px; background: #E5E5E5; width: 100%; border-collapse: collapse;" cellspacing="0" border="0" >
              <tr>
               <td style="max-width: 170px; width:100%; min-width: 170px;background: #E5E5E5; display: inline-block">
                 <div style="padding: 15px 0px 15px 15px">
                    <img src="{{Cover}}" alt="" style="max-width: 170px; height: 90px; width:100%;">
                 </div>
               </td>
                <td >
                    <div style="background-color:#E5E5E5; padding: 15px">                
                    <div
                        style="font-size: 14px; font-weight:600;color:#1B213E; margin-bottom: 15px; border-bottom: #BF8F55 solid 2px; padding-bottom: 5px;">
                       <table>
                        <tr>
                        <td style="border-right: #BF8F55 solid 2px; padding-right: 5px; text-align: center;">                    
                            <div style="font-weight:bold">{{Month}}</div>
                            <div style="color:#BF8F55; font-weight:bold">{{Day2Digit}}</div>                        
                        </td>
                        <td>
                        <div style="padding-left: 5px; font-weight:bold">
                            {{Title}}
                        </div>
                        </td>
                        </tr>
                        </table>
                    </div>
                    <div style="font-size: 14px; font-weight:500;color:#3D454C;">
                        {{Lead}}
                    </div>
                  </div>
                 </td>
                </tr>
            </table>
            {{/if}}
            {{/unless}}
            {{/each}}
        </div>
    </div>
    {{/each}}
    <div style=" max-width:600px; width: 100%;background: #1b213e; padding: 25px 30px 30px">
        <div style="margin-bottom: 25px; color:#BF8F55;font-weight: 600; font-size: 35px;">Kövessen minket!</div>
        <div style="margin-bottom: 25px; display: flex;">
            <img style="width:50px;height:50px" src="./images/facebook_480x480.png" alt="">
            <img style="width:50px;height:50px" src="./images/linkedin_480x480.png" alt="">
            <img style="width:50px;height:50px" src="./images/twitter_480x480.png" alt="">
            <img style="width:50px;height:50px" src="./images/instagram_480x480.png" alt="">
            <img style="width:50px;height:50px" src="./images/youtube_480x480.png" alt="">
            <img style="width:50px;height:50px" src="./images/tiktok_480x480.png" alt="">
        </div>
        <div style="margin-bottom: 20px;color: white; ">
            Ezt a levelet a Budapesti Corvinus Egyetem Intranet felületén keresztül a {{RecipientEmail}} címre küldtük.
        </div>
        <div style="margin-bottom: 20px;color: white; ">
            A hírlevél gyakoriságát és a kiválasztott témákat a saját <a style="color: #BF8F55">Profil beálítások</a>
            alatt módosíthatja.
            Várjuk a honlapon és az Intraneten megjelentetni kívánt híreket, közleményeket, eseményeket!
        </div>
        <div style="color:#BF8F55">Tartalomigénylés leadása »</div>
    </div>
</body>

</html>