<html>
<body style="margin: 25px 30px 0px 30px;">
    <div style="max-width:600px; width: 100%;padding: 25px 30px; display: flex; justify-content:space-between ;">
        <div>
            <div style="margin-bottom: 15px;">
                <div style="color:#BF8F55; font-weight: 600; font-size: 40px;">Corvinus hírek</div>
                <div style="color:#1B213E;  font-weight: 600; font-size: 20px;">munkatársainknak</div>
            </div>
            <div>
                <button style="background-color:#BF8F55; color:white;padding: 10px 15px; border: none;">
                    Tartalomigények
                    beküldése
                </button>
            </div>
        </div>
        <div>
            <div>
                <img src="{{LogoSrc}}" alt=""style="width: 200px;">
            </div>
        </div>
    </div>


    {{#if HasAllStaffContent}}
    <div style="background-color: #1B213E; max-width:600px; width: 100%;padding: 25px 30px;">
        <div style="margin-bottom: 25px; color:white;font-weight: 600; font-size: 35px;">Kiemelt hírek</div>
        {{#each AllStaffContent}}
        
            <div style="display: flex; width: 100%; margin-bottom: 15px;">
                <div style="max-width: 170px; width:100%; min-width: 170px;">
                    <img src="{{Cover}}" alt=""
                         style="max-width: 170px; height: 100%; width:100%;">
                </div>
                <div style="padding: 15px; background-color: white;width: 100%;">
                    <div style="font-size: 15px; font-weight:600;color:#BF8F55; margin-bottom: 15px;">
                        {{Title}}
                    </div>
                    <div style="font-size: 14px; font-weight:500;color:#3D454C; word-break: break-all;">
                        {{Lead}} 
                    </div>
                </div>
            </div>
        
        {{/each}}
    </div>
    {{/if}}

    {{#each Topics}}
    <div style=" max-width:600px; width: 100%;padding: 25px 30px 0px;">
        <div style=" border-bottom: #BF8F55 solid 2px; padding-bottom: 25px;">
            
            
            <div style="margin-bottom: 25px; color:#BF8F55;font-weight: 600; font-size: 35px;">{{Title}}</div>
            {{#each Items}}
            {{#if MoreThanLimit}}
             {{#if isNews }}
                     <div style="margin-bottom: 15px;">
                     <div style="margin-bottom: 10px; font-size: 18px; font-weight:600;color:#1B213E;">{{Title}}
                     </div>
                    <div style=" font-size: 14px; font-weight:500;color:#1B213E;">{{Lead}}</div>
                        </div>    
              {{/if}}
               {{#if isEvent}}
                   <div style="display: flex; font-size: 14px; font-weight:600;color:#1B213E; margin-bottom: 15px;">
                     <div
                      style="border-right: #BF8F55 solid 2px; padding-right: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                      <div>{{Month}}</div>
                      <div style="color:#BF8F55; font-size: 20px;">{{Day2Digit}}</div>
                    </div>
                    <div style="padding-left: 10px;">
                      <div style=" margin-bottom: 10px;">{{Title}}</div>
                      <div style=" font-size: 14px; font-weight:500;">{{Lead}}</div>
                    </div>
                  </div>
               {{/if}}
            {{/if}}
            {{#unless MoreThanLimit}}
                {{#if isNews }}
                    <div style="display: flex; margin-bottom: 15px; width: 100%;">
                        <div style="max-width: 170px; width:100%;">
                            <img src="{{Cover}}" alt=""
                                 style="max-width: 170px; min-width: 170px; width:100%; height: 100%;">
                        </div>
                        <div style="padding: 15px 30px 10px 15px; background-color: #E5E5E5;width: 100%;">
                            <div style="font-size: 15px; font-weight:600;color:#1B213E; margin-bottom: 15px;">
                                {{Title}}
                            </div>
                            <div style="font-size: 14px; font-weight:500;color:#3D454C;">
                                {{Lead}}
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if isEvent}}
                <div style="display: flex; margin-bottom: 15px; width: 100%;">
                    <div style="max-width: 170px; min-width: 170px; width:100%;">
                        <img src="{{Cover}}" alt=""
                             style="max-width: 170px; height: 100%; width:100%;">
                    </div>
                    <div style=" padding: 15px 30px 10px 15px; background-color: #E5E5E5; width: 100%;">
                        <div style="display: flex; font-size: 14px; font-weight:600;color:#1B213E; margin-bottom: 15px; border-bottom: #BF8F55 solid 2px; padding-bottom: 5px;">
                            <div style="border-right: #BF8F55 solid 2px; padding-right: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <div>{{Month}}</div>
                                <div style="color:#BF8F55;">{{Day2Digit}}</div>
                            </div>
                            <div style="padding-left: 5px;">
                                {{Title}}
                            </div>
                        </div>
                        <div style="font-size: 14px; font-weight:500;color:#3D454C;">
                            {{Lead}}
                        </div>
                    </div>
                </div>

                {{/if}}
              {{/unless}}
            {{/each}}
        </div>
    </div>
    {{/each}}



    <footer style=" max-width:600px; width: 100%;background-color:{{FooterBackgroundColor}}; padding: 25px 30px 30px">
        <div style="margin-bottom: 25px; color:#BF8F55;font-weight: 600; font-size: 35px;">Kövessen minket!</div>
        <div style="margin-bottom: 25px; display: flex; gap:20px;">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
            <img style="width:50px;height:50px" src="" alt="">
        </div>
        <div style="margin-bottom: 20px;color: white; ">
            Ezt a levelet a Budapesti Corvinus Egyetem Intranet felületén keresztül a {{RecipientEmail}} címre  küldtük.
        </div>
        <div style="margin-bottom: 20px;color: white; ">
            A hírlevél gyakoriságát és a kiválasztott témákat a saját <a style="color: #BF8F55">Profil beálítások</a> alatt módosíthatja.
            Várjuk a honlapon és az Intraneten megjelentetni kívánt híreket, közleményeket, eseményeket!
        </div>
        <div style="color:#BF8F55">Tartalomigénylés leadása »</div>
    </footer>



</body>
</html>